.swiper-container {
    width:100%;
    height: 600px;
    position: relative;
    .swiper-slide
    {   

        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;

        .title {
            font-size: 100px;
            font-weight: 300;
          }
    }
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }